<p>Hey {{username}},</p>
<p>All Testers Marked as Pass for Software: {{swInfo.swType.typeTitle}}</p>
<p>Please deploy above Software version {{swInfo.versionTitle}} </p>
<p>
  <a href='{{homepageUrl}}/sw-type/{{swInfo.swType.swTypeId}}'>
    Go HK-QA Homepage
  </a>
</p>

<p>If you did not request this email you can safely ignore it.</p>